* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    color: white;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 10;
}

.navbar h1 {
    padding: 10px 20px;
    font-size: 35px;
    color: #333;  
    cursor: pointer; 
}

.navbar ul {
    padding: 20px;
    list-style: none;
    display: flex;
}

.navbar ul li a, .user-actions a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    color: #333;
}

.navbar ul li a:hover, .user-actions a:hover {
    color: #4CAF50;
    text-decoration: underline;
}

.user-actions{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%; 
}

.intro {
    background-image: url(img-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
}


.intro h2 {
    text-align: center;
    font-size: 70px;
    color: #333;
}

.intro p {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: #666;
}

.intro .p {
    padding-bottom: 10px;
    margin-top: 40px;
    font-size: 20px;
    color: #666;

}

.get-started {
    text-decoration: none;
    border-radius: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
}

.get-started:hover {
    text-decoration: underline;
}  

.search-bar {
    background-color: white;
    display: flex;
    border-radius: 50px;
    align-items: center;
    padding: 10px 15px;
    margin-top: 10px;
    height: 50px;
    width: 60%;
    border: 1px solid #ccc;
}
.search-bar input {
    font-family: 'Lato', sans-serif;
    color: #333;
    width: 100%;
    padding-left: 10px;
    background-color: none;
    border: none;
    outline: none;
    font-size: 15px;
}

.search-icon i {
    margin-left: 10px;
}



.categories {
    background-color: white;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #333;
}

.category-list {
    display: flex;
    margin-top: 30px;
}

.category-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100px;
    font-size: 20px;
    background-color: #4CAF50;
    border-radius: 30px;
    padding: 20px 30px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.category-item:hover {
    background-color: #4CAF50;
    text-decoration: underline;
    color: white;
}

.about {
    background-image: url(img-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 90px 0;
    background-color: white;
}

.about .about-us {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 40%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #666;
    padding-top: 50px;
    padding-left: 20px;
}

.about .about-us h2 {
    font-size: 35px;
    color: #333;
    padding-bottom: 10px;
}

.about .about-us p {
    font-size: 20px;
    color: #666;
}

.contact-us {
    text-decoration: none;
    border-radius: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.contact-us:hover {
    text-decoration: underline;
}

.how-it-works {
    background-image: url(img-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-it-works h2 {
    font-size: 35px;
    color: #333;
    padding-bottom: 10px;
}

.how-it-works ol {
    font-size: 20px;
    color: #666;
    font-weight: 600;
    line-height: 2;
}

.testimonials {
    background-color: white;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #333;
}

.testimonial-list {
    display: flex;
    margin-top: 30px;
}

.testimonial-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 200px;
    font-size: 20px;
    background-color: none;
    border: 1px solid #4CAF50;
    border-radius: 30px;
    padding: 20px 30px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}

.testimonial-item:hover {
    background-color: #4CAF50;
    text-decoration: underline;
    color: white;
}

.call-to-action {
    box-shadow: none;
    background-color: white;
    background-image: url(img-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    width: 100%;
    color: #333;
    text-align: center;
    padding: 40px 20px;
}

.call-to-action h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.call-to-action .button {
    background-color: #4CAF50;
    color: white;
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
}

.call-to-action .button:hover {
    text-decoration: underline;
    color: white;
}

.contact-info {
    margin-top: 20px;
}

.contact-info a {
    display: block;
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    margin: 5px 0;
}

.contact-info a:hover {
    text-decoration: underline;
    color: #4CAF50;
}

footer{
    display: flex;
    justify-content: center;
    background-color: white;
}  

